.NavigationItem{
    margin: 0;
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;    
    align-items: center;
    
}

.NavigationItem a{
    background-color: rgb(215, 202, 202);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: rgb(175, 165, 165);
}