body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border: 0px solid rgba(0,0,0);
    
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        rgb(134, 184, 114),
        rgb(4, 58, 22)
    );
    border-radius: 20px 20px 20px 20px;
} */