.TeaItem{
    height: 220px;
    width: 350px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
    display: block;
}

.NameAndPrice{
    width: auto;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.Name{
    width: 50%;
    height: 100%;
    padding: 0.4rem;
}

.Price{
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.ImgHolder{
    height: 75%;
}

.Img{
    width: 100%;
    height: 100%;
}

p{
    margin: 0px;
}
