.TeaItem{
    height: 200px;
    width: 350px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
    display: block;
    position: relative;
}

.NameAndPrice{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;   
    justify-content: space-between; 
    display: inline-flex;    
}

.NameAndPrice p{
    margin: 0px;
    width: 50%;
}
