.TeaBrowser{
    height: 80%;
    width: 80%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #b6dabf;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 12px 10px 15px -4px rgba(0,0,0,0.8), -12px 10px 15px -4px rgba(0,0,0,0.8);    
    border-radius: 14px;    
    border: 1px solid rgb(215, 202, 202);
}

.TeaBrowser > TeaItem{
    width: 25%;
    height: 25%;
}

.TeaBrowser::-webkit-scrollbar{
    width: 15px;
}
.TeaBrowser::-webkit-scrollbar-track{
    border: 0px solid rgba(0,0,0);
    
}

.TeaBrowser::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        rgb(134, 184, 114),
        rgb(4, 58, 22)
    );
    border-radius: 20px 20px 20px 20px;
}